.row {
    display: flex;
  }
  
 /* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: center;
    width: 25%;
    padding: 5%;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  .image {
    border-radius: 50%;
    border: 80px solid #555;
  }
  main {
    background-color: grey;
  }

 